{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    Programlar
{% endblock page_title %}

{% block content %}
<div class="container mt-3">
    <div class="row">
       <div class="col-3">
        {% include 'programlar/partials/_categories.html' %}
       </div> 
       <div class="col-9">
            {% for program in programlar %}
               {% include "programlar/partials/_program.html" %}
            {% endfor %}
       </div>
    </div>
</div>
{% endblock content %}

